Repository VigilantSec/sigma, pull requests merged in 2025-03, with the labels that each got.

#24 Upstream merge 14 Mar 25
  .github/latest_archiver_output.md
  .github/workflows/sigma-rule-deprecated.yml
  deprecated/README.md
  deprecated/deprecated.csv
  other/sigma_attack_nav_coverage.json
  other/sigma_attack_nav_coverage.png
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/file_event_paloalto_globalprotect_exploit_cve_2024_3400_command_inject_file_creation.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/paloalto_globalprotect_exploit_cve_2024_3400_command_injection.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-35250/image_load_exploit_cve_2024_35250_privilege_escalation.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/file_event_win_apt_forest_blizzard_constrained_js.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler_dll.yml
  rules-threat-hunting/linux/file/file_event/file_event_lnx_python_path_configuration_files.yml
  rules-threat-hunting/macos/file/file_event/file_event_macos_python_path_configuration_files.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_python_path_configuration_files.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_new_netfirewallrule_allow.yml
  rules/application/kubernetes/audit/kubernetes_audit_unauthorized_unauthenticated_actions.yml
  rules/cloud/cisco/duo/cisco_duo_mfa_bypass_via_bypass_code.yml
  rules/linux/auditd/lnx_auditd_susp_service_reload_or_restart.yml
  rules/linux/process_creation/proc_creation_lnx_pnscan_binary_cli_pattern.yml
  rules/network/zeek/zeek_http_susp_file_ext_from_susp_tld.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_anydesk.yml
  rules/windows/file/file_delete/file_delete_win_delete_backup_file.yml
  rules/windows/file/file_delete/file_delete_win_sysinternals_sdelete_file_deletion.yml
  rules/windows/file/file_delete/file_delete_win_zone_identifier_ads_uncommon.yml
  rules/windows/file/file_event/file_event_win_anydesk_writing_susp_binaries.yml
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/image_load/image_load_clfs_load.yml
  rules/windows/image_load/image_load_side_load_keyscrambler.yml
  rules/windows/network_connection/net_connection_win_dialer_initiated_connection.yml
  rules/windows/network_connection/net_connection_win_domain_google_api_non_browser_access.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/network_connection/net_connection_win_regasm_network_activity.yml
  rules/windows/network_connection/net_connection_win_remote_access_tools_anydesk_incoming_connection.yml
  rules/windows/powershell/powershell_classic/posh_pc_abuse_nslookup_with_dns_records.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_notepad_local_passwd_discovery.yml
  rules/windows/process_creation/proc_creation_win_powershell_malicious_cmdlets.yml
  rules/windows/process_creation/proc_creation_win_pua_netscan.yml
  rules/windows/process_creation/proc_creation_win_python_inline_command_execution.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk_susp_exec.yml
  rules/windows/process_creation/proc_creation_win_rundll32_obfuscated_ordinal_call.yml
  rules/windows/process_creation/proc_creation_win_rundll32_process_dump_via_comsvcs.yml
  tests/deprecated_rules.py
  tests/rule-references.txt
Labels: Rules, Emerging-Threats, MacOS, Windows, Linux, Maintenance

#25 Revert "Upstream merge 14 Mar 25"
  .github/latest_archiver_output.md
  .github/workflows/sigma-rule-deprecated.yml
  deprecated/README.md
  deprecated/deprecated.csv
  other/sigma_attack_nav_coverage.json
  other/sigma_attack_nav_coverage.png
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/file_event_paloalto_globalprotect_exploit_cve_2024_3400_command_inject_file_creation.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/paloalto_globalprotect_exploit_cve_2024_3400_command_injection.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-35250/image_load_exploit_cve_2024_35250_privilege_escalation.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/file_event_win_apt_forest_blizzard_constrained_js.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler_dll.yml
  rules-threat-hunting/linux/file/file_event/file_event_lnx_python_path_configuration_files.yml
  rules-threat-hunting/macos/file/file_event/file_event_macos_python_path_configuration_files.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_python_path_configuration_files.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_new_netfirewallrule_allow.yml
  rules/application/kubernetes/audit/kubernetes_audit_unauthorized_unauthenticated_actions.yml
  rules/cloud/cisco/duo/cisco_duo_mfa_bypass_via_bypass_code.yml
  rules/linux/auditd/lnx_auditd_pers_systemd_reload.yml
  rules/linux/process_creation/proc_creation_lnx_pnscan_binary_cli_pattern.yml
  rules/network/zeek/zeek_http_susp_file_ext_from_susp_tld.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_anydesk.yml
  rules/windows/file/file_delete/file_delete_win_delete_backup_file.yml
  rules/windows/file/file_delete/file_delete_win_sysinternals_sdelete_file_deletion.yml
  rules/windows/file/file_delete/file_delete_win_zone_identifier_ads_uncommon.yml
  rules/windows/file/file_event/file_event_win_anydesk_writing_susp_binaries.yml
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/image_load/image_load_clfs_load.yml
  rules/windows/image_load/image_load_side_load_keyscrambler.yml
  rules/windows/network_connection/net_connection_win_dialer_initiated_connection.yml
  rules/windows/network_connection/net_connection_win_domain_google_api_non_browser_access.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/network_connection/net_connection_win_regasm_network_activity.yml
  rules/windows/network_connection/net_connection_win_remote_access_tools_anydesk_incoming_connection.yml
  rules/windows/powershell/powershell_classic/posh_pc_abuse_nslookup_with_dns_records.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_notepad_local_passwd_discovery.yml
  rules/windows/process_creation/proc_creation_win_powershell_malicious_cmdlets.yml
  rules/windows/process_creation/proc_creation_win_pua_netscan.yml
  rules/windows/process_creation/proc_creation_win_python_inline_command_execution.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk_susp_exec.yml
  rules/windows/process_creation/proc_creation_win_rundll32_obfuscated_ordinal_call.yml
  rules/windows/process_creation/proc_creation_win_rundll32_process_dump_via_comsvcs.yml
  tests/deprecated_rules.py
  tests/rule-references.txt
Labels: Rules, Emerging-Threats, MacOS, Windows, Linux, Maintenance

#26 Upstream merge 14 Mar 25
  .github/latest_archiver_output.md
  .github/workflows/sigma-rule-deprecated.yml
  deprecated/README.md
  deprecated/deprecated.csv
  other/sigma_attack_nav_coverage.json
  other/sigma_attack_nav_coverage.png
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/file_event_paloalto_globalprotect_exploit_cve_2024_3400_command_inject_file_creation.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/paloalto_globalprotect_exploit_cve_2024_3400_command_injection.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-35250/image_load_exploit_cve_2024_35250_privilege_escalation.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/file_event_win_apt_forest_blizzard_constrained_js.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler_dll.yml
  rules-threat-hunting/linux/file/file_event/file_event_lnx_python_path_configuration_files.yml
  rules-threat-hunting/macos/file/file_event/file_event_macos_python_path_configuration_files.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_python_path_configuration_files.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_new_netfirewallrule_allow.yml
  rules/application/kubernetes/audit/kubernetes_audit_unauthorized_unauthenticated_actions.yml
  rules/cloud/cisco/duo/cisco_duo_mfa_bypass_via_bypass_code.yml
  rules/linux/auditd/lnx_auditd_susp_service_reload_or_restart.yml
  rules/linux/process_creation/proc_creation_lnx_pnscan_binary_cli_pattern.yml
  rules/network/zeek/zeek_http_susp_file_ext_from_susp_tld.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_anydesk.yml
  rules/windows/file/file_delete/file_delete_win_delete_backup_file.yml
  rules/windows/file/file_delete/file_delete_win_sysinternals_sdelete_file_deletion.yml
  rules/windows/file/file_delete/file_delete_win_zone_identifier_ads_uncommon.yml
  rules/windows/file/file_event/file_event_win_anydesk_writing_susp_binaries.yml
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/image_load/image_load_clfs_load.yml
  rules/windows/image_load/image_load_side_load_keyscrambler.yml
  rules/windows/network_connection/net_connection_win_dialer_initiated_connection.yml
  rules/windows/network_connection/net_connection_win_domain_google_api_non_browser_access.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/network_connection/net_connection_win_regasm_network_activity.yml
  rules/windows/network_connection/net_connection_win_remote_access_tools_anydesk_incoming_connection.yml
  rules/windows/powershell/powershell_classic/posh_pc_abuse_nslookup_with_dns_records.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_notepad_local_passwd_discovery.yml
  rules/windows/process_creation/proc_creation_win_powershell_malicious_cmdlets.yml
  rules/windows/process_creation/proc_creation_win_pua_netscan.yml
  rules/windows/process_creation/proc_creation_win_python_inline_command_execution.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk_susp_exec.yml
  rules/windows/process_creation/proc_creation_win_rundll32_obfuscated_ordinal_call.yml
  rules/windows/process_creation/proc_creation_win_rundll32_process_dump_via_comsvcs.yml
  tests/deprecated_rules.py
  tests/rule-references.txt
Labels: Rules, Emerging-Threats, MacOS, Windows, Linux, Maintenance

#28 Change signin from non-US rule from passthrough to identity_risk
  rules/cloud/azure/signin_logs/azure_account_lockout.yml
  rules/cloud/azure/signin_logs/azure_ad_authentications_from_countries_you_do_not_operate_out_of.yml
Labels: Rules

#29 Signal Pruning by Host Count
  rules-threat-hunting/windows/file/file_event/file_event_win_scheduled_task_creation.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_susp_binary_dropper.yml
  rules-threat-hunting/windows/image_load/image_load_dll_dbghelp_dbgcore_susp_load.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_powershell_network_connection.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_execution_from_guid_folder_names.yml
  rules-threat-hunting/windows/registry/registry_event/registry_event_scheduled_task_creation.yml
  rules-threat-hunting/windows/registry/registry_set/registry_set_shell_context_menu_tampering.yml
  rules/web/proxy_generic/proxy_ua_frameworks.yml
  rules/windows/driver_load/driver_load_win_susp_temp_use.yml
  rules/windows/file/file_event/file_event_win_creation_system_file.yml
  rules/windows/file/file_event/file_event_win_dump_file_susp_creation.yml
  rules/windows/image_load/image_load_side_load_antivirus.yml
  rules/windows/image_load/image_load_wsman_provider_image_load.yml
  rules/windows/network_connection/net_connection_win_office_outbound_non_local_ip.yml
  rules/windows/process_creation/proc_creation_win_browsers_remote_debugging.yml
  rules/windows/process_creation/proc_creation_win_cmd_del_execution.yml
  rules/windows/process_creation/proc_creation_win_conhost_legacy_option.yml
  rules/windows/process_creation/proc_creation_win_expand_cabinet_files.yml
  rules/windows/process_creation/proc_creation_win_msiexec_install_quiet.yml
  rules/windows/process_creation/proc_creation_win_powershell_non_interactive_execution.yml
  rules/windows/process_creation/proc_creation_win_renamed_office_processes.yml
  rules/windows/process_creation/proc_creation_win_rundll32_uncommon_dll_extension.yml
  rules/windows/process_creation/proc_creation_win_rundll32_webdav_client_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_jwt_token_search.yml
  rules/windows/process_creation/proc_creation_win_susp_ntfs_short_name_path_use_cli.yml
  rules/windows/process_creation/proc_creation_win_susp_sysnative.yml
  rules/windows/registry/registry_event/registry_event_office_trust_record_modification.yml
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_common.yml
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_currentversion.yml
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_currentversion_nt.yml
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_wow6432node_currentversion.yml
  rules/windows/registry/registry_set/registry_set_sip_persistence.yml
Labels: Rules, Windows
