Repository VigilantSec/sigma, pull requests merged in 2025-04, with the labels that each got.

#30 Disable rule
  rules/cloud/azure/signin_logs/azure_ad_failed_auth_from_countries_you_do_not_operate_out_of.yml
Labels: Rules

#31 Demote azure mfa interupt signal
  rules/cloud/azure/signin_logs/azure_mfa_interrupted.yml
Labels: Rules

#32 DE-1525 DE-1532 fix azure rules, add gcp admin rules, add exceptions
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_import_module.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_sc_query.yml
  rules/cloud/azure/signin_logs/azure_ad_risky_sign_ins_with_singlefactorauth_from_unknown_devices.yml
  rules/cloud/azure/signin_logs/azure_ad_sign_ins_from_unknown_devices.yml
  rules/cloud/azure/signin_logs/azure_app_device_code_authentication.yml
  rules/cloud/azure/signin_logs/azure_app_ropc_authentication.yml
  rules/windows/file/file_event/file_event_win_ps_script_policy_test_creation_by_uncommon_process.yml
  rules/windows/network_connection/net_connection_win_susp_outbound_smtp_connections.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_encoded_cmd.yml
Labels: Rules, Windows

#34 upstream merge 16 apr 25
  .github/latest_archiver_output.md
  deprecated/windows/proc_creation_win_indirect_command_execution_forfiles.yml
  deprecated/windows/sysmon_powershell_execution_moduleload.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-23397/win_smbclient_connectivity_exploit_cve_2023_23397_outlook_remote_file.yml
  rules-emerging-threats/2024/TA/FIN7/proc_creation_win_apt_fin7_exploitation_indicators.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/cloud/aws/cloudtrail/aws_new_lambda_layer_attached.yml
  rules/linux/builtin/lnx_buffer_overflows.yml
  rules/windows/file/file_event/file_event_win_powershell_drop_binary_or_script.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/powershell/powershell_script/posh_ps_potential_unconstrained_delegation_discovery.yml
  rules/windows/process_creation/proc_creation_win_conhost_uncommon_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell_uncommon_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_inline_win_api_access.yml
  rules/windows/process_creation/proc_creation_win_susp_proc_wrong_parent.yml
  rules/windows/process_creation/proc_creation_win_whoami_parent_anomaly.yml
  tests/rule-references.txt
Labels: Rules, Emerging-Threats, Windows, Linux, Maintenance

#35 Add beta risk tag to a rule relevant to HC detections
  rules/cloud/azure/signin_logs/azure_user_login_blocked_by_conditional_access.yml
Labels: Rules

#36 Disable azure_ad_authentications_from_countries_you_do_not_operate_out_of.yml
  rules/cloud/azure/signin_logs/azure_ad_authentications_from_countries_you_do_not_operate_out_of.yml
Labels: Rules

#38 DE-1525 add beta identity_risk tag to new gcp sigma rules
  rules/cloud/gcp/gworkspace/gcp_gworkspace_application_access_levels_modified.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_application_removed.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_granted_domain_api_access.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_mfa_disabled.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_role_modified_or_deleted.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_role_privilege_deleted.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_user_granted_admin_privileges.yml
Labels: Rules

#40 Tags for lenovo platform exception list
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_susp_child_processes.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_remote_access_tools_screenconnect_child_proc.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_file_permission_modifications.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_taskkill_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_tasklist_basic_execution.yml
  rules/windows/file/file_event/file_event_win_powershell_drop_binary_or_script.yml
  rules/windows/process_creation/proc_creation_win_lolbin_susp_driver_installed_by_pnputil.yml
  rules/windows/process_creation/proc_creation_win_powershell_set_policies_to_unsecure_level.yml
  rules/windows/process_creation/proc_creation_win_regedit_export_keys.yml
  rules/windows/process_creation/proc_creation_win_regedit_import_keys.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_exec_path_1.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_parent.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_gotoopener.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_logmein.yml
  rules/windows/process_creation/proc_creation_win_susp_web_request_cmd_and_cmdlets.yml
Labels: ready for review, Rules, Windows
